Configurations/config.json
Configurations/config.js
Configurations/auth.js
node_modules/
.idea/
package-cache*.json
.env

# Monitoring credentials
monitoring/mariadb-exporter/.my.cnf

Temp/*.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
# Environment variables
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store

# Task files
tasks.json
# Data persistence
data/
