    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item is-bold" href="/" style="font-family: Montserrat; font-weight: 600; font-size: 1.1rem;">
                    <img src="/static/img/logo.png" style="border-radius: 100%; margin-right: 0.5rem;" height="28" width="28" alt="Skynet logo">
                    Skynet
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbar-menu" class="navbar-menu">
                <div class="navbar-end">
                <a id="nav-status" class="navbar-item" href="/status" title="Status">
                    <span class="icon is-small">
                        <i class="fa fa-heartbeat"></i>
                    </span>
                    <span>Status</span>
                </a>
                <a id="nav-home" class="navbar-item" href="/">
                    <span class="icon is-small">
                        <i class="fa fa-home"></i>
                    </span>
                    <span>Home</span>
                </a>
                <a id="nav-activity" class="navbar-item" href="/activity">
                    <span class="icon is-small">
                        <i class="fa fa-comments"></i>
                    </span>
                    <span>Activity</span>
                </a>
                <a id="nav-extensions" class="navbar-item" href="/extensions">
                    <span class="icon is-small">
                        <i class="fa fa-bolt"></i>
                    </span>
                    <span>Extensions</span>
                </a>
                <a id="nav-wiki" class="navbar-item" href="/wiki">
                    <span class="icon is-small">
                        <i class="fa fa-book"></i>
                    </span>
                    <span>Wiki</span>
                </a>
                <a id="nav-blog" class="navbar-item" href="/blog">
                    <span class="icon is-small">
                        <i class="fa fa-rss"></i>
                    </span>
                    <span>Blog</span>
                </a>
                <a id="nav-membership" class="navbar-item" href="/membership">
                    <span class="icon is-small">
                        <i class="fa fa-star"></i>
                    </span>
                    <span>Membership</span>
                </a>
                <a id="nav-donate" class="navbar-item" href="/donate">
                    <span class="icon is-small">
                        <i class="fa fa-gift"></i>
                    </span>
                    <span>Donate</span>
                </a>
                <script>
                    if(localStorage.getItem("donate") === "hide") {
                        $("#nav-donate").toggle();
                    }
                </script>

                <% if (authUser) { %>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-flex-centered" style="gap: 0.5rem;">
                        <img class="image is-24x24" src="<%= authUser.avatar %>" style="border-radius: 100%; border: 2px solid rgba(255,255,255,0.3);" alt="<%= authUser.id %>">
                        <span><%= authUser.username %></span>
                    </a>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="/dashboard">
                            <span class="icon is-small"><i class="fa fa-tachometer"></i></span>
                            <span>Dashboard</span>
                        </a>
                        <a class="navbar-item" href="/account">
                            <span class="icon is-small"><i class="fa fa-user-cog"></i></span>
                            <span>Account Settings</span>
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/logout">
                            <span class="icon is-small"><i class="fa fa-sign-out"></i></span>
                            <span>Logout</span>
                        </a>
                    </div>
                </div>
                <% } else { %>
                <div class="navbar-item">
                    <div class="buttons" style="gap: 0.5rem;">
                        <a class="button is-small is-rounded is-outline-modern" href="/add">
                            <span class="icon is-small">
                                <i class="fa fa-plus"></i>
                            </span>
                            <span>Add Bot</span>
                        </a>
                        <a class="button is-small is-rounded is-primary is-modern" href="/login">
                            <span class="icon is-small">
                                <i class="fa fa-sign-in"></i>
                            </span>
                            <span>Login</span>
                        </a>
                    </div>
                </div>
                <% } %>
                </div>
            </div>
        </div>
    </nav>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {
                // Add a click event on each of them
                $navbarBurgers.forEach( el => {
                    el.addEventListener('click', () => {
                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>
